<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-light navbar-light justify-center">

    <div class="col-4">
      <button (click)="useLanguage('en')" >English</button>
    </div>
    <div class="col-4">
      <button (click)="useLanguage('fr')" >French</button>
    </div>
    <div class="col-4">
      <button (click)="useLanguage('de')" >German</button>
    </div>
</nav>


<br style="line-height:100px">
<div >
<button (click)="addMouse()">Add Mouse</button>
&nbsp;
<button (click)="removeMouse()">Remove Mouse</button>

{{mousecount}}
</div>
<br style="line-height: 40px">
<div class="mousediv" *ngFor="let count of [].constructor(mousecount)">
  <img class="mouse" src="/assets/images/mouse.png">
</div>

<p></p>
<div class="sylvester"></div>
<div id="proclamation" 
  [translate]="this.mousePlurality()"
  [translateParams]="{mousecount: mousecount}"
>There are no mice here</div>



